#buttonContainer {
    text-align: center;
    margin-top: 25px;
}
#mapLoader {
    text-align: center;
    position: relative;
    top: 15vh;
}
#mapLoader h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}
