#buttonContainer {
    text-align: center;
    margin-top: 25px;
}
#mapLoader {
    text-align: center;
    position: relative;
    top: 12.5vh;
}
#mapLoader div:first-of-type{
    margin: 0 auto;
}
#mapLoader h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    /* animation: pulse 1s linear infinite; */
}
#infoWindow {
    text-align: center;
}
#infoWindow h4 {
    margin-top: 5px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
#infoWindow h5:first-of-type {
    margin-top: 10px;
}
#infoWindow h5 {
    text-align: left;
    margin: 5px 0px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
#infoWindow button {
    margin: 15px 5px 10px 5px;
}
#descriptionDialog {
    position: relative;
}
#descriptionDialog #closeDialogIcon { 
    position: absolute;
    top: 10px;
    right: 10px;
}
#descriptionDialog h2{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
#descriptionDialog button {
    margin: 10px 0px 20px 0px;
}
#markerLegend {
    margin: 15px 0px;
    padding-bottom: 40px;
}
#markerLegend h4 {
    display: inline-block;
    font-weight: 400;
    letter-spacing: 1px;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}