header {
    background-color: #486b00;
    text-align: center;
}
#mainLogo {
    display: inline-block;
  text-decoration: none;
  min-width: 225px;
  padding: 10px 0px 10px 25px;
}
#mainLogo:hover {
    cursor: pointer;
}
#mainLogo div {
    display: inline-block;
}
header h1{  
    display: inline-block;
    color: white;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
#logoClean {
line-height: .9;
    letter-spacing: 2px;
}
#logoMeet {
    line-height: .9;
    letter-spacing: 8px;
    position: relative;
    left: 4px;
}
#logoUp {
    color: #ffc131;
    text-transform: uppercase;
    font-size: 4.75rem;
    font-weight: 500;
    position: relative;
    left: -5px;
    top: 2px;
}
#navDrawer {
    position: relative;
}
.MuiDrawer-paperAnchorLeft {
    background-color: #486b00 !important;
}
#logoutButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    outline: 0;
}
.nav-link {
  color: #f2f2f2;
  background-color: #486b00;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid rgba(256, 256, 256, .25);
}
.close-drawer {
    text-align: right;
    outline: 0;
    padding: 0px 5px;
}
.nav-right {
  float: right;
}
#navMenuButton {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 36px;
    color: white;
}