header {
    background-color: rgba(0, 143, 12, 1);
    text-align: center;
}
#mainLogo {
  text-decoration: none;
}
header h1 {
    display: inline-block;
    color: white;
    font-weight: 300;
    letter-spacing: 4px;
    margin: 0;
    padding: 15px 0px;
    text-transform: uppercase;
}
#navDrawer {
    position: relative;
}
.MuiDrawer-paperAnchorLeft {
    background-color: rgba(0, 143, 12, 1) !important;
}
#logoutButton {
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    outline: 0;
}
.nav-link {
  color: #f2f2f2;
  background-color: rgba(0, 143, 12, 1);
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px solid rgba(256, 256, 256, .25);
}
.close-drawer {
    text-align: right;
    outline: 0;
    padding: 10px 5px;
}
.nav-right {
  float: right;
}
#navMenuButton {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 36px;
    color: white;
}