#singleMeetDeets {
    margin-top: 15px;
    padding-bottom: 75px;
}
#singleMeetDeets p {
    margin: 5px;
    letter-spacing: 1px;
}
#singleMeetup #buttonContainer {
    margin-top: 25px;
}
#singleMeetup .error-background {
    background-color:  #8d230f;
    color: white;
}
#deleteDialog {
    padding-bottom: 25px !important;
}
#deleteDialog h2 {
    font-weight: 300;
    font-size: 1.5rem;
}
#deleteDialog h3 {
    font-weight: 400;
    padding-bottom: 20px;
}